:root {
    --eas-box-per-side: 16;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    height: 100vh;
    /* fix for safari top bar with webkit */
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

main {
    width: 90vmin;
    height: 100vh;
    margin: 0 auto;
    padding: 0;

    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', Arial, sans-serif;
}

button {
    border: 1px solid hsla(0, 100%, 0%, 10%);
    padding: 5px;
    border-radius: 5px;
}

button > * {
    pointer-events: none;
}

#eas-picker {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#eas-picker-resolution, #eas-picker-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding: 10px;
    border: 1px solid hsla(0, 100%, 0%, 10%);
    border-radius: 5px;
    background-color: hsl(240, 100%, 50%, 10%)
}

#eas-picker-side-count {
    flex: 1;
}

#sketch-type-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: stretch;
}

.sketch-type-button {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
}

.active-sketch-type-button {
    background-color: hsl(240, 80%, 80%);
}

.sketch-type-color-bar {
    width: 100%;
    height: 10px;
}

#sketch-type-black-bar {
    background-color: black;
}

#sketch-type-random-bar {
    background: linear-gradient(
        90deg,
        hsl(231, 100%, 50%) 0%,
        hsl(231, 100%, 50%) 20%,
        hsl(36, 100%, 50%) 20%,
        hsl(36, 100%, 50%) 40%,
        hsl(156, 100%, 50%) 40%,
        hsl(156, 100%, 50%) 60%,
        hsl(6, 100%, 50%) 60%,
        hsl(6, 100%, 50%) 80%,
        hsl(56, 100%, 50%) 80%,
        hsl(56, 100%, 50%) 100%
    );
}

#sketch-type-rainbow-bar {
    background: linear-gradient(
        90deg,
        hsl(0, 100%, 50%) 0%,
        hsl(0, 100%, 50%) 20%,
        hsl(51, 100%, 50%) 20%,
        hsl(51, 100%, 50%) 40%,
        hsl(102, 100%, 50%) 40%,
        hsl(102, 100%, 50%) 60%,
        hsl(204, 100%, 50%) 60%,
        hsl(204, 100%, 50%) 80%,
        hsl(255, 100%, 50%) 80%,
        hsl(255, 100%, 50%) 100%
    );
}

#eas-container {
    background: linear-gradient(
        120deg,
        hsl(0, 100%, 50%) 0%,
        hsl(0, 100%, 40%) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
    padding: 6% 0 0 0;
    height: 90vmin;
    width: 90vmin;
    min-width: 300px;
    min-height: 300px;
    box-shadow: 3px 3px 10px black;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#eas-container h1 {
    margin: 0;
    padding: 20px;
    color: gold;
    text-shadow: 1px 1px 6px black;
    font-family: 'Satisfy', cursive;
    font-size: 5vmin;
    align-self: stretch;
    text-align: center;
    flex: 1;
}

#eas-draw-container {
    display: grid;
    grid-template-columns: repeat(var(--eas-box-per-side), 1fr);
    grid-template-rows: repeat(var(--eas-box-per-side), 1fr);

    width: 80%;
    height: 80%;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
    box-shadow: 1px 1px 3px black inset;
    border-radius: 20px;
    background-color: silver;

    overflow: hidden;
    touch-action: none;
}


.eas-block {
    border: none;
    margin: 0;
    padding: 0;
    background-color: silver;
}

#reset-button {
    width: 200px;
    height: 60px;
    margin: 20px;
}

